* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    background-color:lightskyblue
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.site-header {
    background-color: #292f37;
    color: #fff;
    padding: 20px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.bluetext {
    color: #6ea9e4
}

body, h1, table {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color:white;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2{
    font-size: 75px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #333;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

.circle {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background-color: #007bff; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center; 
}